h1{
    text-align: center;
    
}
.formulario{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px;
}
.nombre{
    padding: 10px;
    size: 20cm;
}
.telefono{
    -webkit-appearance: none; 
  margin: 0; 
}
